<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="overlay">
                <small style="letter-spacing: 2px;">Resort & Spa Hotel</small> 
                <h1 class="my-3">Stay With Us, Feel At Home</h1>
                <button class="my-3">Explore</button>
            </div>          
            <button (click)="openDialog()" class="abs-btn">
                <i style="font-size: 1.5rem;" class="bi bi-images"></i>
            </button>
        </div>

       <div class="container">
            <div class="row" id="about" style="background-color: rgb(255, 255, 255);">
                <div class="col-md-3">
                    <p class="dark-text underline" style="width: max-content;">Welcome to</p>
                </div>
                <div class="col-md-6">
                    <h3 class="dark-text" style="font-size: 35px;">Luxury Hotel</h3>
                    <p style="line-height: 30px;" class="light-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi assumenda voluptatum, officiis, consequuntur accusamus nemo porro odit voluptate expedita illo ducimus sunt cum obcaecati doloremque? Perferendis deleniti accusantium quis. Velit.</p> 

                    <div class="rating shadow rounded">
                        <div style="border-right: 1px solid rgb(187, 187, 187);">
                            <h1 class="dark-text mb-0" style="font-size: 1.5rem;">4.9</h1>
                        </div>
                        <div>
                            <small class="light-text">Rating based on 2500+ reviews</small><br>
                            <span>stars</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 dark-text">
                    pics
                </div>
            </div>
       </div>

        <div id="rooms" class="dark-text">
            <div class="top row">
                <div class="col-md-3">
                    <p class="dark-text underline" style="width: max-content;">Discover</p>
                </div>

                <div class="col-md-9">
                    <h2 style="font-size: 35px;">Rooms <span style="color: #c2185b;">&</span> Suites</h2>
                    <p>Reserve the room you prefer (depending on availability). Choose rom a variety os sizes and styles.</p>
                </div>
            </div>

            <div class="row images">

            </div>
        </div>
    </div>
</div>
