.container-fluid.wrapper {
    width: 100vw;
    margin-top: 100px;
    
    .container-fluid.bg {
        background-image: url(../../../assets/images/hd.jpg);
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        width: 100%;
        margin: 0;

        .row {
            height: 100%;
        }

   }

   .filter-container {
        height: 150px;
        max-width: 1170px;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .row {
            background-color: rgba(255, 255, 255, 0.925);
            height: 150%;

            .col-md-2 {
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    margin-left: 0!important;
                }
            }
        }
   }

   #why-section {
        width: 100vw;
        min-height: 537px;
        background-color: #f5f6f6;
        padding-bottom: 2rem;

    .card {
        width: 285px;
        height: 309px;
        cursor: pointer;

        .top {
            height: 176px;
            position: relative;
            background-position: center;
            background-size: cover;

            i {
                color: #c2185b;
                font-size: 1.3rem;
            }
            
        }
    
        .overlay {
            position: absolute;
            bottom: -4rem;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            width: 60px;
            height: 60px;
            background-color: #f5f6f6;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 133px;

            p {
                color: #061a3a;
            }
            
        }
    }


    .card#local-travel {
            padding: 0;

            .top {
                background-image: url(../../../assets/images/tourist.jpeg);
            }
        }

        .card#event-package {
            padding: 0;

            .top {
                background-image: url(../../../assets/images/elephant.jpeg);
            }
        }

        .card#int-travel {
            padding: 0;

            .top {
                background-image: url(../../../assets/images/beach.jpeg);
            }
        }
    }


    #about-section {
        width: 100vw;
        min-height: 537px;
        background-color: rgb(255, 255, 255);
        padding-bottom: 2rem;

        #images {
            #lg-img {
                width: 410px;
                height: 410px;


                .img {
                    height:100%;
                    background-size: cover;
                    background-position: center;
                    background-image: url(../../../assets/images/square.webp);
                }

            }
        }


        .small-img {
            height: 220px;
            width: 300px;
            // margin-left: 5rem;

            .img {
                height:100%;
                background-size: cover;
                background-position: center;
                background-image: url(../../../assets/images/trav.jpeg);
            }
        }

    } 


    .banner {
        padding: 10px 10px 9px 14px;
        margin-bottom: 22px;
        background-color: #f3f3f3;
        height: 47px;
        width: 96%;
        height: 47px;   
        margin: .4rem auto;
    }


    .package {
        padding: 0;
        max-width: 370px;
        flex: 33.333%;    
        height: 678px;      
        
        
        img {
            border-radius: 5px 5px 0 0;
        }


        .img {
            width: 100%;
            min-height: 270px;
            background-position: center;
            background-size: cover;
        
        }

        .lower {
            padding: 33px 35px 40px 40px; 

        }
    }
   

}


@media screen and (max-width: 770px){
    #about-section {
         padding-bottom: 2rem;

        .pic-play {
            display: flex;
            flex-direction: column!important;

            .col-6 {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }


            .img {
                width: 100%;
            }


            .small-img {                
                margin-left: 0rem!important;
            }
        }

    } 
    
}


@media only screen and (max-width: 600px) {

    .filter-container {
        height: auto!important;
        bottom: 0rem!important;

        button {
            margin: .5rem 0;
        }
    }


    .packages {
        .package {
            width: 100%!important;
        }
    }

    .package {
        min-width: 330px;

        .banner {
            p {
                font-size: 12px;
            }
        }
    }

    .pic-play {
        flex-direction: column!important;
    }


    .filter-container {
        bottom: 2rem;
    }
}


@media screen and (min-width: 1560px){ 
    .packages {
        padding: 0 150px;
    }


    .small-img {
        margin-left: 5rem;
    }
}

