<div class="package card shadow-sm p-0 col-12 col-md-4 col-lg-4" id="dubai" style="width: 370px;">
    <div class="img p-0">
        <img style="border-radius: 5px 5px 0 0;" class="img-fluid" src="../../../assets/images/dubai.jpeg" alt="">
    </div>
    <div class="lower" style=" padding: 33px 35px 40px 40px; ">
        <div class="row">
            <div class="stars">

            </div>
            <div>
                <p class="mb-0">1 Review</p>
            </div>
        </div>

        <div class="row">
            <p class="mb-0 medium-text" style="font-size: 24px;">Dubai Holiday Packages 2023</p>
            <h4 class="ligh-text" style="margin-bottom: 22px;font-size: 15px;color: #808080;"><span style="color: #d63384;">KSh69500</span> / Per Person</h4>
        </div>

        <div class="row" style="width: 100%;">
            <div style="font-size: 15px;" class="banner rounded d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-clock"></i>
                    <p class="mb-0 mx-2">5 days</p>
                </div>|
                <div>
                    <p class="mb-0"><span><i class="bi bi-map"></i></span> Dubai, UAE</p>
                </div>
            </div>
        </div>

        <div class="row">
            <p style="font-size: 16px;" class="ligh-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi incidunt ducimus quidem dicta perferendis placeat minima quas corporis quibusdam laborum!</p>
        </div>
        <div class="row p-2">
            <hr>
            <button style="width: max-content;" mat-raised-button color="primary">Book Now</button>
        </div>
    </div>
</div>
