<!-- <div class="form-wrapper my-3">
    <input type="text" (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>    
          
          
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
                <i style="cursor: pointer;" class="bi bi-images"></i>
            </td>
          </ng-container>   
   
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row style="cursor: pointer;" (click)="viewHotel(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>
      </div>   
</div>
 -->


 <div class="container-fluid">

    <div class="row">
      <h2 class="dark-text">Hotels</h2>
      <table class="table table-hover col-md-8 mx-auto p-3">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="viewHotel(hotel.id)" *ngFor="let hotel of hotels;let i = index" style="cursor: pointer;">
            <th><span>{{i + 1}}</span>. {{hotel.name}}</th>
            <td class="light-text">{{hotel.description}}</td>
            <td>
              <i class="bi bi-star-fill" style="color: orange;"></i>
              <i class="bi bi-star-fill" style="color: orange;"></i>
              <i class="bi bi-star-fill" style="color: orange;"></i>
              <i class="bi bi-star-fill" style="color: orange;"></i>
            </td>
            <td>action</td>
          </tr>      
        </tbody>
      </table>
    </div>
 </div>