<div class="container">
    <div class="row" style="margin-top: 100px;">
        <h1 class="text-center my-2">Connect with us for <br> Better Tour</h1>
        <!-- <h3 class="text-center" style="font-weight: 17px;">Sign Up With</h3> -->
        <form [formGroup]="createUser" (submit)="onSumbit()" class="mx-auto light-text rounded py-5" style="max-width: 570px;background-color: rgb(255, 255, 255);">
            <div class="row">
                <div class="form-group col-6">
                    <label for="first_name">First Name</label>
                    <input formControlName="first_name" type="text" id="first_name" class="form-control">
                </div>

                <div class="form-group col-6">
                    <label for="last_name">Last Name</label>
                    <input formControlName="last_name" type="text" id="last_name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="name">Username</label>
                <input formControlName="username" type="text" name="username" id="username" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" name="email" id="email" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="text">Phone</label>
                <input formControlName="phone" type="text" id="phone" class="form-control">
            </div>    

            <div class="form-group">
                <label for="email">Password</label>
                <input formControlName="password" type="text" name="password" id="password" class="form-control">
            </div>

            <div class="form-group my-4 d-flex align-items-center">
                <input type="checkbox" name="terms" id="terms" class="mx-2">
                <label for="terms">I accept <a href="#">terms</a> and <a href="#">conditions</a> and general policy</label>
            </div>     
            <button style="height: 50px;" class="mb-2" mat-raised-button color="primary">Sign Up</button>   
            <p style="cursor: pointer;" (click)="redirect()">Already have an account? <a routerLink="login">Sign In</a></p>
        </form>
    </div>
</div>
