<div class="container-fluid">
    <div class="row">
        <div class="top-banner">

        </div>        
    </div>

    <div class="row">
        <div class="col-md-8 p-5">
            <div class="row">
                <h2 class="dark-text" style="font-size: 27px;">Africa - Amazing African Safari</h2>
                <div class="row">
                    stars
                </div>

                <div class="row">
                    <div style="font-size: 1rem;" class="snippet d-flex flex-wrap col-md-8 justify-content-between gap-4">
                        <div  class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-clock"></i>
                            <p class="mb-0 mx-2 light-text">5 Hours</p>
                        </div>
    
                        <div class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-people-fill"></i>
                            <p class="mb-0 mx-2 light-text">Max People: 40</p>
                        </div>
    
                        <div  class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-wifi"></i>
                            <p class="mb-0 mx-2 light-text">Wifi Available</p>
                        </div>   

                        <div class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-calendar-date-fill"></i>
                            <p class="mb-0 mx-2 light-text">Jan 18' - Dec 21'</p>
                        </div> 

                        <div class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-person"></i>
                            <p class="mb-0 mx-2 light-text">Min Age: 12+</p>
                        </div> 

                        <div class="d-flex align-items-center col col-md-6 col-lg-3">
                            <i style="font-size: 1.2rem;" class="bi bi-geo-alt"></i>
                            <p class="mb-0 mx-2 light-text">Pickup: Airport</p>
                        </div> 
                    </div>  
                </div>

                <hr>

                <div class="row">
                    <p class="light-text" style="font-size: 15px;line-height: 2;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                        Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Comma wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of t</p>
                </div>

                <div class="row">
                    <div class="d-flex row p-3 align-items-center justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Departure & Return Location</h3>
                        </div>
                        <div class="col-md-4">
                            <p class="mb-0 light-text">John F.K International</p>
                        </div>
                    </div>

                    <div class="d-flex row p-3 align-items-center justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Departure Time</h3>
                        </div>
                        <div class="col-md-4">
                            <p class="mb-0 light-text">3 Hours Before Flight Time</p>
                        </div>
                    </div>

                    <div class="d-flex row p-3 align-items-center justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Bedroom</h3>
                        </div>
                        <div class="col-md-4">
                            <p class="mb-0 light-text">4 Bedrooms</p>
                        </div>
                    </div>

                    <div class="d-flex row p-3 align-items-center justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Bathroom</h3>
                        </div>
                        <div class="col-md-4">
                            <p class="mb-0 light-text">6 Bathrooms</p>
                        </div>
                    </div>

                    <div class="d-flex row p-3 align-items-start list justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Price Includes</h3>
                        </div>
                        <div class="col-md-4">
                            <ul class="mb-0 light-text" style="list-style: none;">
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Air fares</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>3 Nights Hotel</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Tour Guide</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Entrance Fees</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>All transportation</li></span>
                            </ul>
                        </div>

                    </div>

                    <div id="exclude" class="d-flex row p-3 align-items-start list justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Price Excludes</h3>
                        </div>
                        <div class="col-md-4">
                            <ul class="mb-0 light-text pl-0" style="list-style: none;">
                                <span class="d-flex align-items-center"><i class="bi bi-x-circle mx-2"></i><li>Guide Service Fee</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-x-circle mx-2"></i><li>Driver Service Fee</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-x-circle mx-2"></i><li>Any Private Expenses</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-x-circle mx-2"></i><li>Room Service Fees</li></span>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex row p-3 align-items-start list justify-content-between top-border">
                        <div class="col-md-8">
                            <h3 class="mb-0 dark-text" style="font-weight: bold;">Complimentaries</h3>
                        </div>
                        <div class="col-md-4">
                            <ul class="mb-0 light-text pl-0" style="list-style: none;">
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Umbrella</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Sunscreen</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>T-Shirt</li></span>
                                <span class="d-flex align-items-center"><i class="bi bi-check-circle mx-2"></i><li>Entrance Fees</li></span>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
           <div class="card shadow rounded dark-text">
                <h4 style="font-size: 16px;">Best Seller</h4>
                <div class="d-flex align-items-center">
                    <div>
                        <i class="bi bi-tag-fill mx-1" style="font-size: large;"></i>
                    </div>
                    <div>
                        <span style="font-size: 14px;" class="mx-2">From</span>
                    </div>
                        <span style="font-size: 1.5rem;font-weight: bold;" class="dark-text">65,000</span>
                </div>

                <div>
                    <mat-tab-group class="dark-text" style="margin-top: 38px;">
                        <mat-tab class="" label="Booking Form">
                           <div style="font-size: 1.3rem;" class="d-flex align-items-center my-4">
                                <div style="font-size: 1.4rem;">
                                    <i class="bi bi-calendar-date"></i>
                                </div>
                                <div class="mx-2">
                                    February 6, 2029
                                </div>
                           </div>

                           <div style="font-size: 1.3rem;" class="d-flex align-items-center my-4">
                                <div>
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="mx-2">
                                    <input placeholder="Number Of People" class="light-border" type="text" style="border-radius: 0;padding: .6rem;width: 80%;">
                                </div>  
                           </div>

                           <div style="font-size: 1.3rem;" class="d-flex align-items-center my-4">
                                <div>
                                    <i class="bi bi-lightning-charge-fill"></i>
                                </div>
                                <div class="mx-2">
                                    <button mat-raised-button color="primary" class="my-2 p-4">Proceed Booking</button>
                                </div>  
                            </div>

                        </mat-tab>
                        <mat-tab label="Enquiry Form"> Content 2 </mat-tab>
                    </mat-tab-group>
                </div>
           </div>

           <div class="plank dark-text" style="margin-top: 50%;">
                <h3 style="font-weight: bold;" class="mx-3 my-2">Why Book With Us</h3>
                <div class="d-flex align-items-center">
                    <i class="bi bi-currency-dollar"></i>
                    <p class="mb-0 mx-2 light-text">No-Hassle best price guarantee</p>
                </div>

                <div class="d-flex align-items-center">
                    <i class="bi bi-headset"></i>
                    <p class="mb-0 mx-2 light-text">No-Hassle best price guarantee</p>
                </div>

                <div class="d-flex align-items-center">
                    <i class="bi bi-headset"></i>
                    <p class="mb-0 mx-2 light-text">Hand-picked Tours & Activities</p>
                </div>

                <div class="d-flex align-items-center">
                    <i class="bi bi-life-preserver"></i>
                    <p class="mb-0 mx-2 light-text">Free Travel Insurance</p>
                </div>
                
           </div>
        </div>
    </div>
</div>
