.container-fluid {
    min-height:calc(100vh - 381px);
    background-color: #fefefe;


    .col-md-2 {
        mat-nav-list {
            a {
                cursor: pointer;
                padding: .6rem .5rem;

                &:hover {
                    background-color: #d1d1d1;
                }
            }
        }
    }


    .col-md-10 {

        span {
            color: black!important;
        }


        mat-tab {
            color: rgb(54, 54, 54)!important;
        }

        .mat-mdc-tab .mdc-tab__text-label {
            color: red!important;
        }  
        
        
        table {
            background-color: #6e6e6e;
            color: #030303!important;
        }

    }
  
}

.mat-expansion-panel {
    background-color: #fefefe!important;
    color: #030303!important;

    span {
        color: black!important;
    }
}

.mat-mdc-tab {
    color: rgb(26, 16, 16)!important;
}


span.mdc-tab__text-label {
    color: rgb(26, 16, 16)!important;
}


.specific-class > .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: red !important;
}