<div class="container shadow rounded" style="background-image: url(../../../../assets/images/roo.jpg);">
    <div class="row">

        <p style="z-index: -1;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea perferendis nisi magni ipsam qui corrupti?</p>
    </div>

    <div class="info-wrapper rounded p-2 shadow mx-auto d-flex justify-content-between">
        <div>
            <h3 class="mb-0">Junior Suite</h3> 
            <p class="mb-0">30msq/2 adults 1 child</p>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button class="btn btn-outline-primary mx-1" style="height: max-content;border-radius: 0;">Book</button>
            <div>
                <small class="mb-0 light-text">from</small>
                <p style="font-size: 1rem;" class="dark-text">ksh 21,000</p>
            </div>
        </div>
    </div>
</div>
