<form [formGroup]="packageOptionForm" (submit)="packageOptionSubmit()" class="mx-auto light-text rounded py-5" style="max-width: 570px;background-color: rgb(255, 255, 255);">
    <div class="form-group">
        <label for="name">name</label>
        <input formControlName="name" type="text" name="name" id="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input formControlName="description" type="text" name="description" id="description" class="form-control">
    </div>

    <div class="form-group">
        <label for="max_occupants">Max Occupants</label>
        <input formControlName="max_occupants" type="text" name="max_occupants" id="max_occupants" class="form-control">
    </div>

    <div class="form-group">
        <label>Package</label>
        <select formControlName="package" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option *ngFor="let package of destinationPackages" [value]="package.id">{{package.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Transport</label>
        <select formControlName="transport" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option *ngFor="let trans of allTransports" [value]="trans.id">{{trans.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Hotel</label>
        <select formControlName="hotel" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option *ngFor="let hotel of hotels" [value]="hotel.id">{{hotel.name}}</option>
        </select>
    </div>

    <button class="my-3" mat-raised-button color="primary">Create Package Option</button>   
</form>
