#wrapper {
    position: relative;
    

    mat-drawer {
        width: 400px;
    }


    mat-drawer-content {

        .msg {
            position: fixed;
            top: 150px;
            right: 100px;
            z-index: 20000;
            height: 70px;
            width: 300px;
            animation: fadeIn .5s;
            transition: all ease-in-out .5s;
        }

        .error {
            border-left: 5px solid rgb(250, 31, 31);
            background-color: rgb(255, 248, 248);
        }

        .success {
            border-left: 5px solid rgb(31, 250, 42);
            background-color: rgb(255, 248, 248);
        }
    }

}


.mdc-tab__text-label {
    color: rgb(66, 66, 66)!important;
}


@keyframes fadeIn {
    0% {
        // opacity: 1;
        right: -200px;
    }
    75% {
        right: 120px;
    }
    100% {
        // opacity: 1;
        right: 100px;
    }
}


.fade {

    @keyframes fadeOut {
        0% {
            right: 100px;
        }
        100% {
            right: -200px;
        }
    }
}




@media screen and (max-width: 500px){
    mat-drawer {
        max-width: 300px!important;
    }
}