<div class="container shadow">
    <div class="row p-2">
        <div class="d-flex flex-row-reverse ">
            <div style="width: 50px;height: 50px;background-color: rgb(58, 57, 57);border-radius: 100%;display: flex;align-items: center;justify-content: center;">
                <p style="font-size: 1.3rem;" class="mb-0 "><span *ngIf="i < 10">0</span>{{i + 1}}</p>
            </div>
        </div>

        <div>
            <h3 style="font-size: 24px;" class="dark-text">{{amenity?.name}}</h3>
            <p style="font-size: 15px;" class="mb-0 light-text">
                {{amenity?.description}}
            </p>
        </div>
    </div>
</div>
