.container-fluid {
    min-height: 90vh;
    background-color: rgb(226, 226, 226);



    .row {
        width: 100vw;

        .top-banner {
            height: 400px;
            width: 100vw;
            margin-top: 100px;
            display: flex;
            align-items: center;
            background-image: url(../../../assets/images/egypt.jpeg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
    
    
    #bottom {
        height: auto;
    
    
            .package {
                padding: 0;
                max-width: 370px;
                flex: 33.333%;    
                height: 678px;      
                
                
                img {
                    border-radius: 5px 5px 0 0;
                }
        
        
                .img {
                    width: 100%;
                    min-height: 270px;
                    background-position: center;
                    background-size: cover;
                
                }
        
                .lower {
                    padding: 33px 35px 40px 40px; 
        
                }
            }

    }
}

