/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');


@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';



html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     color: rgb(46, 46, 46);
     width: 100vw;
     overflow-x: hidden;


     .light-border {
        border: 1px solid #808080;
     }

     .light-text {
         color: #808080;
     }

     .medium-text {
        color: #061A3A;
     }


     .dark-text {
         color: #212529;
     }


     .header-font {
        font-family: 'Crimson Text', serif;
     }


     .underline  {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 30%;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #c2185b;
        }
    }

    .form-wrapper {
      input {
         padding: .7rem;
         margin: .5rem 0;
         border: 1px solid rgb(160, 160, 160);

         &:hover, &:active, &:focus {
            border: 1px solid #c2185b;
            outline: none;
         }



      }


      table {
         background-color: rgb(145, 145, 145)!important;
      }

      mat-paginator {
         background-color: rgb(145, 145, 145)!important;
      }
    }


    .mdc-dialog__surface {
         background-color: rgb(247, 247, 247)!important;
    }
 }
